doctype html
html
  head
    title= "Employee Table"
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
  body
    div(class="container")
      div(class="row")
        div(class="col")
          h2="ตารางพนักงาน"
          table(class="table table-bordered")
            thead(class="thead-inverse")
              tr
                th(scope="col")="ID"
                th(scope="col")="Firstname"
                th(scope="col")="Lastname"
            tbody
              each employee in employees
                tr
                  th(scope="row")= employee.employee_id
                  td=employee.firstname
                  td=employee.lastname
        div(class="col")
          h2="ตารางหนังสือ"
          table(class="table table-bordered")
            thead(class="thead-inverse")
              tr
                th(scope="col")="ISBN"
                th(scope="col")="title"
                th(scope="col")="price"
            tbody
              each book in books
                tr
                  th(scope="row")= book.ISBN
                  td=book.title
                  td=book.price
      h2="มีพนักงานทั้งหมด: " + employeeCount
      h2="พนักงานที่อายุน้อยกว่า 20"
      table(class="table table-bordered")
        thead(class="thead-inverse")
          tr
            th(scope="col")="ID"
            th(scope="col")="Firstname"
            th(scope="col")="Lastname"
        tbody
          each employee in below20Employees
            tr
              th(scope="row")= employee.employee_id
              td=employee.firstname
              td=employee.lastname
      h2="ค้นหาหนังสือด้วยคำว่า Script"
      table(class="table table-bordered")
        thead(class="thead-inverse")
          tr
            th(scope="col")="ISBN"
            th(scope="col")="title"
            th(scope="col")="price"
        tbody
          each book in ScriptBook
            tr
              th(scope="row")= book.ISBN
              td=book.title
              td=book.price
      h2="ค้นหาหนังสือด้วยคำว่า a"
      table(class="table table-bordered")
        thead(class="thead-inverse")
          tr
            th(scope="col")="ISBN"
            th(scope="col")="title"
            th(scope="col")="price"
        tbody
          each book in aBook
            tr
              th(scope="row")= book.ISBN
              td=book.title
              td=book.price
      h2="ขายหนังสือได้ : " + soldCount + " เล่ม"
      h2="หนังสือที่ขายได้มีดังนี้ (ISBN)"
      table(class="table table-bordered")
        thead(class="thead-inverse")
          tr
            th(scope="col")="ISBN"
        tbody
          each book in soldBooks
            tr
              th(scope="row")= book.ISBN
      h2="ขายหนังสือได้เงินทั้งหมด : " + soldTotal + " บาท"
      br
      h2="บริษัทมีพนักงานตำแหน่งดังนี้"
      table(class="table table-bordered")
        thead(class="thead-inverse")
          tr
            th(scope="col")="Titles"
        tbody
          each title in titles
            tr
              th(scope="row")= title.title
      h2="บริษัทนี้มีพนักงาน " + employee2Count.count + " คน เป็นผู้ชาย " + employee2Count.male + " คน ผู้หญิง " + employee2Count.female + " คน"
      h2="บริษัทนี้มีพนักงานที่นามสกุลต่างกัน " + lastNameCount + " คน"