doctype html
html
  head
    title= "Employee Table"
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
  body
    div(class="container")
      table(class="table")
        thead
          tr
            th(scope="col")="ID"
            th(scope="col")="Firstname"
            th(scope="col")="Lastname"
            th(scope="col")="Salary"
            th(scope="col")="Role"
        tbody
          each val in rows
            tr
              th(scope="row")= val.id
              td=val.firstname
              td=val.lastname
              td=val.salary
              td=val.role