<form class="container">
    <fieldset>
      <legend>Product</legend>
      <div class="input-group">
        <label for="product-code" class="label-input">Product Code</label>
        <input type="text" name="product-code" class="form-control">
      </div>
      <div class="input-group">
        <label for="product-name" class="label-input">Product Name</label>
        <input type="text" name="product-name" class="form-control">
      </div>
      <div class="input-group">
        <label for="product-category" class="label-input">Product Category</label>
        <select name="product-category" class="form-control">
          <option value="shirt">Shirt</option>
          <option value="jean">Jean</option>
        </select>
      </div>
      <div class="input-group">
        <label for="product-type" class="label-input">Product Type</label>
        <select name="product-type">
          <option value="shirt">Overcoat</option>
          <option value="jean">Jean</option>
        </select>
      </div>
      <div class="input-group">
        <label for="product-price" class="label-input">Product Price</label>
        <select name="product-price">
          <option value="thb">THB</option>
          <option value="dollar">Dollar</option>
        </select>
      </div>
      <div class="input-group">
        <label for="standard-price" class="label-input">Standard Price</label>
        <input type="text" name="standard-price" class="form-control">
      </div>
      <div class="input-group">
        <label for="standard-unit" class="label-input">Standard Unit</label>
        <select name="standard-unit">
          <option value="piece">Piece</option>
        </select>
      </div>
      <div class="input-group">
        <label for="description" class="label-input">Description</label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="input-group">
        <label for="product-image" class="label-input">Product Image</label>
        <input type="file" name="product-image">
      </div>
      <div class="input-group">
        <input type="checkbox" name="active" class="active">
        <label for="active">Active</label>
      </div>
      <div class="btn-group">
        <button class="btn btn-left">Save</button>
        <button class="btn btn-right">Close</button>
      </div>
    </fieldset>
  </form>