body {
    font-family: 'Roboto';
}
.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  align-items: center;
  height:100vh;
}

.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-box {
  border: 1px solid gray;
  padding: 0px 10px 0px;
  width: 180px;
}
.form-control {
  display: block;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control h1 {
  text-align: center;
}

.btn {
  border-radius: 5px;
  color: white;
  background: #6EBFFF;
  height: 40px;
  width: 80px;
  border: 0;
  margin-bottom: 10px;
}