<nav>
    <div class="logo">
      <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" width="100px" alt="">
      <h1>My application</h1>
    </div>
    <div class="nav-search">
    <form action="">
      <input type="text" placeholder="Search Product">
      <button>Search</button>
    </form>
      <a href="" class="nav-item-right">New Product</a>
    </div>
  </nav>
  
  <div class="card-list">
    <div class="card">
      <p><img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10557/10557553.jpeg" alt="" class="card-img">
        Product Name<br/>
        Price<br/>
        Description
      </p>
    </div>
     <div class="card">
      <p><img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10557/10557553.jpeg" alt="" class="card-img">
        Product Name<br/>
        Price<br/>
        Description
      </p>
    </div>
     <div class="card">
      <p><img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10557/10557553.jpeg" alt="" class="card-img">
        Product Name<br/>
        Price<br/>
        Description
      </p>
    </div>
     <div class="card">
      <p><img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10557/10557553.jpeg" alt="" class="card-img">
        Product Name<br/>
        Price<br/>
        Description
      </p>
    </div>
     <div class="card">
      <p><img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10557/10557553.jpeg" alt="" class="card-img">
        Product Name<br/>
        Price<br/>
        Description
      </p>
    </div>
     <div class="card">
      <p><img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10557/10557553.jpeg" alt="" class="card-img">
        Product Name<br/>
        Price<br/>
        Description
      </p>
    </div>
  </div>