nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: grey solid;
    border-radius: 10px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
  }
  
  .logo h1 {
    margin-left: 20px;
  }
  
  .nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-search a {
    margin-left: 20px;
    padding-right: 20px;
  }
  
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    padding: 20px;
  }
  
  .card-img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 15px;
  }