.container {
    width: 500px;
  }
  .input-group {
    position: relative;
    display: table;
    margin-bottom: 10px;
  }
  
  .label-input {
    display: block;
    float: left;
    margin-left: 15px;
    width: 150px;
  }
  
  .btn {
    border-radius: 5px;
    color: white;
    background: #6EBFFF;
    height: 40px;
    width: 80px;
    border: 0;
    margin-bottom: 10px;
  }
  .active {
    margin-left: 165px;
  }
  
  .btn-group {
    text-align: center;
  }
  
  .btn-right {
    margin-left: 130px;
  }