.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.nospace {
  margin: 0;
  padding: 0;
}

.card {
  border: 1px solid #777;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  margin: 10px;
  min-height: 329px;
  max-height: 329px;
}

.card-img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}