.bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #1DA1F2;
}

.login-form {
  position: absolute;
  width: 300px;
  height: 500px;
  top: 120px;
  right: 220px;
}

.welcome-form {
  position: absolute;
  height: 300px;
  top: 120px;
  left: 220px;
}

.logo {
  font-size: 30px;
  color: #1DA1F2;
}