a:link {
	color: black;
        text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
  }
  .container-content {
    display: flex;
    justify-content: center;
  }
  .nav-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
  .spliter {
    width: 3px;
    background: blue;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .margin-left {
    margin-left: 50px;
  }
  
  .margin-right {
    margin-right: 50px;
  }
  
  .contact {
    text-align: center;
  }
