a:link {
	color: black;
        text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}
.container {
    display: flex;
    margin: 0 auto;
  }
  
  .head {
    width: 800px;
    height: 200px;
  }
  .body {
    width: 800px;
  }
  .left-item {
    flex-basis: 30%;
  }
  
  .right-item {
    flex-basis: 70%;
    line-height: 10px;
  }
  .circular-dash {
    position: relative;
    margin: 14px 32px 20px 32px;
    border: 2px dashed #262829;
    border-radius: 100px;
    box-sizing: border-box;
  }
  
  .circular {
    margin: 10px auto;
    width: 150px;
    height: 150px;
    background-image: url("http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg");
    background-color: #cccccc;
    background-size: 250px 150px;
    background-position: center;
    border-radius: 50%; */
  }
  
  .left-item-body {
    flex-basis: 30%;
  }
  
  .right-item-body {
    flex-basis: 70%;
    line-height: 10px;
  }
  
  .container-left {
    display: flex;
    flex-direction: column;
  }
  
  .container-right {
    display: flex;
    flex-direction: column;
  }
  
  .column {
    padding: 30px;
    line-height: 25px;
  }
  
  td {
    width: 150px;
  }
  
  td.rating>li {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: black;
    border: 1px solid black;
  }
  
  td.rating>li.active {
    background: white;
    border: 1px solid black;
  }