a:link {
	color: black;
        text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .card-img {
    margin: 0;
    padding: 0;
    background-image: url("http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg");
    background-color: #cccccc;
    background-size: auto;
    width: 100%;
    height: 180px;
    background-size: 300px 180px;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-content {
    text-align: center;
    line-height: 15px;
  }
  
  .card-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
  }
  
  .card-footer h3 {
    margin: 0;
  }